@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Ibarra Real Nova', serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

.nav {
    border-radius: 90px;
    background: linear-gradient(265deg, #000 0%, #000102 51.04%, #017CFF 100%), rgba(255, 255, 255, 0.70);
    box-shadow: 0px 4px 40px 0px rgba(1, 124, 255, 0.10);
    backdrop-filter: blur(10px);
}

.nav-item-selected {
    border-radius: 12px 12px 0px 0px;
}

.top-corner-blur {
    border-radius: 767px;
    position: absolute;
    opacity: 0.4;
    background: var(--blue-600, #2563EB);
    filter: blur(300px);
    width: 767px;
    height: 767px;
    flex-shrink: 0;
}

.head-text {
    background: linear-gradient(180deg, #007BFF 0%, #000 56.56%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    line-height: 110%;
    /* 88px */
}

.trial-req {
    border-radius: 48px;
    background: rgba(255, 255, 255, 0.60);
    box-shadow: 0px 0px 44px 0px rgba(1, 124, 255, 0.10);
    backdrop-filter: blur(14.5px);
}

.header-sideways-comp {
    background: linear-gradient(180deg, #017CFF 15.21%, #000 87.33%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
}